* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#card {
  max-width: 45rem;
  padding: 1rem;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 1rem 0.3rem #aaaaaa;
  animation: page-animation-in 0.51s ease-out;
}

@keyframes page-animation-in {
  from {
    transform: translateX(150%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes page-animation-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-250%);
  }
}

.quiz-container {
  background-color: #00ffff;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem #aaaaaa;
}

#quiz {
  display: inline-block;
  margin: 1rem;
  font-size: 1.5rem;
  text-align: center;
  color: #003296;
}

.answer {
  background-color: #ffd000;
  color: #704300;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem #aaaaaa;
}

.answer:hover {
  background-color: #ffd08f;
}

.answer:active {
  background-color: #ffe8c7;
}

#next {
  margin-top: 2rem;
  width: 5rem;
  height: 2rem;
  border-radius: 1rem;
  border: none;
  background-color: #b1fc03;
  color: #009e3a;
  cursor: pointer;
  box-shadow: 0.1rem 0.1rem 0.7rem 0.3rem #aaaaaa;
}

#next:hover {
  background-color: #009e3a;
  color: #b1fc03;
}

#next:active {
  background-color: #b3ffcf;
  color: #19522e;
  box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem #aaaaaa;
}
