* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card {
  max-width: 45rem;
  padding: 1rem;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 1rem 0.3rem #aaaaaa;
  animation: page-animation-in 0.51s ease-out;
}

@keyframes page-animation-in {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes page-animation-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100vw);
  }
}

.quiz-container {
  background-color: #00ffff;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem #aaaaaa;
}

#quiz {
  display: inline-block;
  margin: 1rem;
  font-size: 1.5rem;
  text-align: center;
  color: #003296;
}

.answer {
  background-color: #ffd000;
  color: #704300;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem #aaaaaa;
}

.answer:hover {
  background-color: #ffd08f;
}

.answer:active {
  background-color: #ffe8c7;
}

#next {
  margin-top: 2rem;
  width: 5rem;
  height: 2rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  background-color: #b1fc03;
  color: #009e3a;
  cursor: pointer;
  box-shadow: 0.1rem 0.1rem 0.7rem 0.3rem #aaaaaa;
}

#next:hover {
  background-color: #009e3a;
  color: #b1fc03;
}

#next:active {
  background-color: #b3ffcf;
  color: #19522e;
  box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem #aaaaaa;
}

@keyframes next-button-animation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(50vh);
  }
}

.pop-up {
  position: absolute;
  top: 5%;
  padding: 0.8rem;
  border-radius: 1rem;
  font-weight: bold;
  box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem #aaaaaa;
  animation: pop-up-animation 1.5s ease-in-out forwards;
}

.correct {
  background-color: #63ff83;
  color: #308040;
}

.incorrect {
  background-color: #ff4040;
  color: #911919;
}

@keyframes pop-up-animation {
  0% {
    transform: translateY(-50vh);
  }
  25% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50vh);
  }
}

.result {
  font-weight: bold;
  animation: result-animation 1.5s ease-in-out forwards;
}

@keyframes result-animation {
  0% {
    color: #ff0000;
    font-size: 0;
    box-shadow: 0.1rem 0.1rem 1rem 0.3rem #ff0000;
  }
  25% {
    color: #00ff00;
    box-shadow: 0.1rem 0.1rem 1rem 0.3rem #00ff00;
  }
  75% {
    color: #0000ff;
    box-shadow: 0.1rem 0.1rem 1rem 0.3rem #0000ff;
  }
  100% {
    color: #14b8b5;
    font-size: 3rem;
    box-shadow: 0.1rem 0.1rem 1rem 0.3rem #14b8b5;
  }
}
